/* style={{ width: "100" ,justifyContent:'space-between',alignItems:'center',borderRadius:'0'}}> */
.userCardContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    cursor: pointer;
   
}

.mainCont:hover{
    background-color: antiquewhite;
}